/*
Esta hoja de estilo define el diseño de la página web.
*/

/* Estilos de toda la pag */
:root {
    background-color: #030526;
    color: #5dc1b9;
}

/*Estilo de toda la pag*/
*{
  margin: 0;
  padding: .5rem;
  font-family: sans-serif;
}

/*
El elemento `header` contiene el logotipo y el menú de navegación.
*/
header {
  display: flex;
  flex-direction: column;
  position: relative;
}


/*
El elemento `video` contiene el vídeo de fondo.
*/

video {
  margin: none;
  padding: 0;
  box-sizing: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 0;
  min-height: 0vh;
  overflow: visible;  
  object-fit: cover;
}


/* Estilos del NAV */
.abrir-menu,
.cerrar-menu{
    /*
    Los botones `abrir-menu` y `cerrar-menu` solo son visibles en pantallas pequeñas.
    Cuando se hace clic en el botón `abrir-menu`, se muestra el menú de navegación.
  */
  display: none;
  background-color: transparent;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
} 


.nav-bar{   
    height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    position: relative;
    top: 0;
  }

.nav-logo {
  list-style-type: none;
    align-items: left;  
  }
/* Estilo del logo redondeado */
.nav-logo div{
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.nav-logo img {
    width: 5em;
}

.nav-menu a {
    text-decoration: none;
    color: #5dc1b9;
}

.nav-menu li {
    list-style-type: none;
    border-right: #065473 1px solid;
    padding: 10px 5px;
    font-size: 1em;
    display: inline-block;      
    transition: background-color 0.75s ease;    
}

.nav-menu li:hover{
  transform: scale(1.2);
    transition: transform 0.5s;
}
.nav-menu li a:hover {
    background-color: #065473;
    color: #5dc1b9;
  
  
}
.active { /*Colorsito diferente para pagina activa del nav-menu*/
  background-color: #065473;
}

.nav-social{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 33%;  
}
.nav-social li {
  list-style-type: none;
     
}
.nav-social a:hover{
  transform: rotate(360deg) scale(1.8);
    transition: transform 0.4s;
}
.nav-social img {
  width: 1em;
}


.bar-start {
  width: 100%;
  height: auto;
  padding: 2rem;
  text-align: center;
  background-color: lightblue;
}

section.bar-start {
  display: none;
}

section.bar-start.active {
  display: block;
}

.btn-show-bar {
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.btn-show-bar:hover {
  background-color: lightblue;
}

.btn-show-bar:active {
  background-color: darkblue;
}

.container-bar {
  background-color: #590202;
  color: #F26716; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
 padding: 0;
 margin-top:10em;  
 margin-bottom: 0;
}

.shows .titulo-shows{
margin-top: 100px;
  color: #5dc1b9;
font-family: fantasy;
}

.shows .tarjetas{
  margin-top: 30px;
  color: black;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;

  }

.tarjeta{
  width: 18rem; 
  border: 1px solid rgba(0,0,0,.125); 
  border-radius: .50rem;
  background-color: #F2421B;
  margin: 2%;

}
.tarjeta img{
  width: 100%; 
  max-height: 40%;
  border-top-left-radius: .25rem; 
  border-top-right-radius: .25rem;
  padding: initial;
}
.tarjeta-texto{
  padding: 1.25rem;

}

.tarjeta btn-mas-info{
  float: right;
  
 
}
.tarjeta h3{
  text-align: center;
}

.img-promo{
  height: 5em;
  width: 5em;
}
.container-footer{
  margin-top: 100px;
display: flex;
flex-direction: row;
justify-content: space-between;
list-style-type: none;
color:#5dc1b9;
}
.footer-l3{
  text-align: center;
  color: #5dc1b9;
}




@media screen and (max-width: 550px){
  .abrir-menu,
  .cerrar-menu{
      display: block;  
      font-size: 1.25rem;     
      cursor: pointer;      
  }

  .nav-menu{
    visibility: hidden;
    opacity: 0;
    /* las dos primeras ocultan la nav */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    background-color:#c77d21;
    bottom: 01;
    box-shadow: 0 0 0 100vmax rgba(189, 5, 5, 0.877);
    z-index: 2;
    border: 1;
}
.nav-social{
  visibility: hidden;
  opacity: 0;
}

/*Hace visible el nav cuando se activa (con un click y js)*/
.nav-menu.visible{
  visibility: visible;
  opacity: 1;
}
.nav-social.visible{
  visibility: visible;
  opacity: 1;
}

  .nav-menu {
      flex-direction: column;
      align-items: end;
      
  }

  .nav-menu li a {
      color: white;

  }
  .nav-social {
    flex-direction: row;
  }
  
  }
  
