:root{
    background-color: lightgoldenrodyellow;
}

nav{

}

.nav-logo{

}

.nav-menu{

}
.nav-social{

}

.bar-start{

}

.bar-info{
    background-color: darkgoldenrod;
    color: whitesmoke;
}

.container{

}

.bar-h1{

}

.bar-h2{

}

.bar-h3{

}

.shows{

}

.shows-h1{

}

.shows-h2{

}

.shows-h3{

}

.shows-h4{

}

.info{

}

.photos{

}

.videos{

}

.spotify{
}